.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111143);
    overflow: clip;
    position: relative;



    .wrapper {
        max-width: 1366px;

        height: 100%;
        margin: auto;

        

        .textContainer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            img {
                width: 50px;
            }

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 70px;
            }

            .buttonContainer {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;

                }


            }

            
        }
    }
    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        img {
            height: 100%;
        }
    }
    
    .slidingText {
        position: absolute;
        bottom:0;
        color: #ffffff20;
        font-size: 50vh;
        white-space: nowrap;
        width:50%;
        font-weight: bold;
    }
    

}