.navbar {
    height: 100px;
    margin-bottom: 0px;

    .wrapper {
        height: 100%;
        max-width: 1366px;
        margin:auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
       

        
        img {            
            
            width: 100px;
        }

        .social {
            display: flex;
            gap: 20px;
            padding-right: 50px;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }

    
}